@model BrandViewModel
@Html.AntiForgeryToken()
@{
    var imagePath = "";
    bool editMode = false;
    if (Model != null)
    {
        imagePath = Model.ImageName == null ? "" : ".." + Constants.PathBrandImage + '/' + Model.ImageName;
        editMode = true;
    }
}

<link href="~/ManagementDashboard/CSS/Brand/_CreateOrEdit.css" rel="stylesheet" />
<script type="text/javascript">
    Messages.UploadPlaceHolderMessage = "@Html.Raw(Messages.UploadPlaceHolderMessage)"
    var editMode = @(editMode ? 1 : 0);
</script>
<script src="~/ManagementDashboard/JS/Brand/_CreateOrEdit.js"></script>

<input type="hidden" asp-for="Id" value=@(editMode ? $"{Model.Id}" : "") />

<div class="container">
    <div class="row align-items-center">
        <label asp-for="Title" class="required label col-md-2 col-12 font-blue-dark"><span>@Fields.TitleInput</span></label>
        <input asp-for="Title" type="text" class="form-control col-md-8 col-12" placeholder="@Fields.TitleInput" value=@(editMode ? $"{Model.Title}" : "") />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="row my-3">
        <label asp-for="ImageName" class="required label col-md-2 col-12 font-blue-dark"><span>@Fields.ImageInput</span></label>
        @if (editMode)
        {
            <input asp-for="ImageName" type="hidden" value="@Model.ImageName" />
            <div class="px-0 mx-0 col-md-2 col-12">
                <img id="img-view" src="@imagePath" alt="@Model.ImageName" />
                <input id="img-edit" type="file" class="dropify" name="imageFile" />
            </div>
            <div class="col-2"></div>
            <div class="px-0 mx-0 col-12">
                <input type="button" id="edit-img-btn" class="btn btn-primary" value="@Fields.EditButtin" />
                <input type="button" id="edit-img-cancel-btn" class="btn btn-danger" value="@Fields.CancelButton" />
            </div>
        }
        else
        {
            <div class="px-0 mx-0 col-md-2 col-12">
                <input type="file" class="dropify" name="imageFile" />
            </div>
        }
    </div>
</div>