@model BrandViewModel

<div class="row">
    <partial name="_CreateOrEdit" model="@Model" />
    

    @*<div class="col-md-6 col-sm-12">
        <label asp-for="ImageName" class="required"><span>@Fields.ImageInput</span></label>
        <div class="img-edit row">
            <input type="hidden" asp-for="ImageName" value=@(Model != null ? $"{Model.ImageName}" : string.Empty) />
            <input id="img-brand-file" name="file" class="img-input-file" type="file" />
            <div class="col"></div>
            <div class="col-6 img-view">
                <img id="img-brand-current" src="@imagePath" alt="@Model.Title" height="300" width="300" />
            </div>
            <div class="col"></div>
            <div class="col-1 img-edit-btn">
                <a id="img-cancel" href="#" class="btn btn-block btn-outline-secondary"><span class="ti-close"></span></a>
                <a id="img-change" href="#" class="btn btn-block btn-outline-info mt-2"><span class="ti-pencil-alt"></span></a>
                <a id="img-delete" href="#" class="btn btn-block btn-outline-danger"><span class="ti-trash"></span></a>
            </div>
        </div>
        <span asp-validation-for="ImageName"></span>
    </div>*@

    <div class="row">
        <div class="col">
            <input id="updatebtn" type="button" value="@Fields.SaveButton" onclick="submitForm('brandform', this); return false;" class="btn btn-outline-success" formaction="@Constants.ControllerBrand/@Constants.ActionEdit" />
            <input type="button" value="@Fields.CancelButton" onclick="getForm('@Url.Action(Constants.ActionCreate, Constants.ControllerBrand)')" class="btn btn-outline-danger" />
        </div>
    </div>
</div>
