
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

@model BrandViewModel
<!--<script src="~/assets/js/plugins/dropify/dropify.min.js"></script>-->
<div class="box">
    <div class="box-head">
        <h4 class="title">@Captions.CreateBrand</h4>
    </div>
    <div class="box-body">
        <form method="post" id="brandform">
            <div id="BrandForm" class="row mbn-20">

            </div>
        </form>
    </div>
</div>

<br />

<div class="box">
    <div class="box-head">
        <h4 class="title">@Captions.BrandForm</h4>
    </div>
    <div class="box-body">
        <div class="k-rtl">
            <kendo-grid name="grid" height="550">
                <datasource type="DataSourceTagHelperType.Ajax" page-size="10">
                    <transport>
                        <read url="@Url.Action(Constants.ActionReadAll, Constants.ControllerBrand, new { area=Constants.AreaManagement })" />
                        <update url="@Url.Action(Constants.ActionUpdate, Constants.ControllerBrand, new { area=Constants.AreaManagement })" />
                    </transport>
                    <schema>
                        <model id="@nameof(BrandViewModel.Id)">
                            <fields>
                                <field name="@nameof(BrandViewModel.Id)" type="number"></field>
                                <field name="@nameof(BrandViewModel.Title)"></field>
                            </fields>
                        </model>
                    </schema>
                </datasource>

                <pageable button-count="5" refresh="true" page-sizes="new int[] { 5, 10, 20, 50 }">
                </pageable>
                <sortable enabled="true" />
                <columns>
                    <column field="@nameof(BrandViewModel.Title)" title="@Fields.TitleInput" />
                    @*<column field="@nameof(BrandViewModel.Image)" title="@Fields.ImageInput" template="#=template(data)#" />*@

                    <column>
                        <commands>
                            <column-command name="edit" text="@Fields.EditButtin" click="openEditWindow"></column-command>
                            <column-command name="distroy" text="@Fields.DeleteButton" click="openDeleteWindow"></column-command>
                        </commands>
                    </column>
                </columns>
            </kendo-grid>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getCreateForm() {
        $.get("@Url.Action(Constants.ActionCreate, Constants.ControllerBrand)", function (data) {
            $('#BrandForm').html(data);
        });
    }
    function getUpdateForm(id) {
        $.get(`@Url.Action(Constants.ActionUpdate, Constants.ControllerBrand)/${id}`, function (data) {
            $('#BrandForm').html(data);
        })
    }
    function refreshGrid() {
        $("#grid").data("kendoGrid").dataSource.read();
    }

    function openEditWindow(e) {
        let grid = this;
        let button = e.target;
        let row = $(button).closest("tr");
        let dataItem = grid.dataItem(row);
        getUpdateForm(dataItem.Id);
    }

    function openDeleteWindow(e) {
        e.preventDefault();
        let grid = this;
        let button = e.target;
        let row = $(button).closest("tr");
        let dataItem = grid.dataItem(row);

        if (confirm(`@Messages.DeleteCautionMessage.ToString()`)) {
            $.post({
                url: "@Url.Action(Constants.ActionDelete, Constants.ControllerBrand)",
                data: { Id: dataItem.Id },
                success: function (data) {
                    refreshGrid();
                }
            });
        }
    }

    $(function () {
        getCreateForm();
    });

    function template(data) {
        let path = String.raw`../@Constants.PathBrandImageRead/` + data.Image;
        return String.raw`<div class="brand-photo" style="background-image: url(${String.raw`${path}`});"></div>
<input class='imgName' type='hidden' value='${data.Image}'/>`
    }
</script>

<style type="text/css">
    .brand-photo {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        background-position: center center;
        vertical-align: middle;
        line-height: 50px;
        /*box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);*/
    }
</style>