@model BrandViewModel
<link href="~/ManagementDashboard/CSS/Brand/Index.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gear"></i>@Captions.CreateEdit
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="brandform">
                    <partial name="Create" />
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-th-list"></i>@string.Format(Captions.List0, Captions.Brands)
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <partial name="_List" />
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
    var Constants = {
        UrlActionCreate: "@Url.Action(Constants.ActionCreate, Constants.ControllerBrand)",
        UrlActionUpdate: "@Url.Action(Constants.ActionEdit, Constants.ControllerBrand)",
        UrlActionDelete: "@Url.Action(Constants.ActionDelete, Constants.ControllerBrand)"
    };
    var Fields = {
        HtmlRawToasterSuccessTitle: "@Html.Raw(Fields.ToasterSuccessTitle)",
        HtmlRawToasterErrorTitle: "@Html.Raw(Fields.ToasterErrorTitle)",
        HtmlRawDeleteButton: "@Html.Raw(Fields.DeleteButton)",
        HtmlRawCancelButton: "@Html.Raw(Fields.CancelButton)"
    };
    var Captions = {
        CreateBrand: "@Captions.CreateBrand",
        EditBrand: "@Captions.EditBrand",
        HtmlRawBrand: "@Html.Raw(Captions.Brand)"
    };
    var Messages = {
        HtmlRawDeleteCautionMessage: "@Html.Raw(Messages.DeleteCautionMessage)"
    };
    </script>
    <script src="~/ManagementDashboard/JS/Brand/Index.js"></script>
    <script src="~/ManagementDashboard/JS/Brand/Create.js"></script>
    <script src="~/ManagementDashboard/JS/Brand/Edit.js"></script>

}




