
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

@model BrandViewModel
<!--<script src="~/assets/js/plugins/dropify/dropify.min.js"></script>-->
<div class="box">
    <div class="box-head">
        <h4 class="title">@Captions.CreateBrand</h4>
    </div>
    <div class="box-body">
        <form method="post" id="brandform">
            <div class="row mbn-20">

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Image" />

                <div class="col-12 mb-20">
                    <label asp-for="Title">@Fields.TitleInput</label>
                    <input asp-for="Title" type="text" class="form-control" placeholder="@Fields.TitleInput">
                </div>

                <!--File Upload-->
                <div class="col-12 mb-20">
                    <label for="formLayoutFile2">@Fields.UploadFile</label>
                    <input type="file" id="imageform" class="dropify" asp-for="ImageFormFile">
                </div>
                <!--File Upload-End-->

                <div id="submitButton" class="col-12 mb-20">
                    <button id="createBrand" class="button button-primary">@Fields.SendButton</button>
                    <button id="saveBrand" class="button button-success" hidden>@Fields.SaveButton</button>
                    <button id="cancel" class="button button-danger" hidden>@Fields.CancelButton</button>
                    @*<input type="submit" value="@Fields.CancelButton" class="button button-danger">*@
                </div>
            </div>
        </form>
    </div>
</div>

<br />

<div class="box">
    <div class="box-head">
        <h4 class="title">@Captions.BrandForm</h4>
    </div>
    <div class="box-body">
        <div class="k-rtl">
            <kendo-grid name="grid" height="550">
                <datasource type="DataSourceTagHelperType.Ajax" page-size="10">
                    <transport>
                        <read url="@Url.Action(Constants.ActionReadAll, Constants.ControllerBrand, new { area=Constants.AreaManagement })" />
                        <update url="@Url.Action(Constants.ActionUpdate, Constants.ControllerBrand, new { area=Constants.AreaManagement })" />
                        <destroy url="@Url.Action(Constants.ActionDelete, Constants.ControllerBrand, new { area=Constants.AreaManagement })" />
                    </transport>
                    <schema>
                        <model id="@nameof(BrandViewModel.Id)">
                            <fields>
                                <field name="@nameof(BrandViewModel.Id)" type="number"></field>
                                <field name="@nameof(BrandViewModel.Title)"></field>
                            </fields>
                        </model>
                    </schema>
                </datasource>

                <pageable button-count="5" refresh="true" page-sizes="new int[] { 5, 10, 20, 50 }">
                </pageable>
                <sortable enabled="true" />
                <columns>
                    <column field="@nameof(BrandViewModel.Title)" title="@Fields.TitleInput" />
                    <column field="@nameof(BrandViewModel.Image)" title="@Fields.ImageInput" template="#=template(data)#" />

                    <column>
                        <commands>
                            <column-command name="edit" text="@Fields.EditButtin" click="openEditWindow"></column-command>
                            <column-command name="destroy" text="@Fields.DeleteButton" click="openDeleteWindow"></column-command>
                        </commands>
                    </column>
                </columns>
            </kendo-grid>
        </div>
    </div>
</div>

<script type="text/javascript">
    function openEditWindow(e) {
        let grid = this;
        let button = e.target;
        let row = $(button).closest("tr");
        let dataItem = grid.dataItem(row);

        $(Id).val(dataItem.Id);
        $(Title).val(dataItem.Title);
        $(createBrand).attr("hidden", "hidden");
        $(saveBrand).removeAttr('hidden');
        $(cancel).removeAttr('hidden');
    }

    function openDeleteWindow(e) {
        e.preventDefault();
        let grid = this;
        let button = e.target;
        let row = $(button).closest("tr");
        let dataItem = grid.dataItem(row);

        if (confirm("@Messages.DeleteCautionMessage")) {
            $.post({
                url: "@Url.Action(Constants.ActionCreate, Constants.ControllerBrand)",
                data: dataItem.Id,
                success: function (data) {
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            });
        }
    }

    function template(data) {
        let path = String.raw`../@Constants.PathBrandImageRead/` + data.Image;
        return String.raw`<div class="brand-photo" style="background-image: url(${String.raw`${path}`});"></div>`
    }

    $(function () {
        $('.dropify').dropify({
            messages: {
                'default': '@Messages.UploadPlaceHolderMessage',
                'replace': '@Messages.UploadPlaceHolderMessage',
                'remove': '@Fields.DeleteButton',
                'error': '@Messages.UploadFailureMessage'
            },
        });

        $(createBrand).on("click", function (e) {
            e.preventDefault();
            let form = $(brandform)[0];
            let data = new FormData(form);

            $.ajax({
                type: "POST",
                url: "@Url.Action(Constants.ActionCreate, Constants.ControllerBrand)",
                data: data,
                enctype: 'multipart/form-data', // Important!!!!
                processData: false,  //prevent jQuery transforming the data into a query string
                contentType: false,
                cache: false,
                success: function (data) {
                    form.reset();
                    $(".dropify-clear").click();
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            });
        });

        $(saveBrand).on("click", function (e) {
            e.preventDefault();
            let form = $(brandform)[0];
            let data = new FormData(form);

            $.ajax({
                type: "POST",
                url: "@Url.Action(Constants.ActionUpdate, Constants.ControllerBrand)",
                data: data,
                enctype: 'multipart/form-data', // Important!!!!
                processData: false,  //prevent jQuery transforming the data into a query string
                contentType: false,
                cache: false,
                success: function (data) {
                    form.reset();
                    $(".dropify-clear").click();
                    $("#grid").data("kendoGrid").dataSource.read();
                },
                complete: function () {
                    $(createBrand).removeAttr("hidden");
                    $(saveBrand).attr("hidden", "hidden");
                    $(cancel).attr("hidden", "hidden");
                }
            });
        });

        $(cancel).on("click", function (e) {
            e.preventDefault();
            let form = $(brandform)[0];
            form.reset();
            $(".dropify-clear").click();
            $(createBrand).removeAttr("hidden");
            $(saveBrand).attr("hidden", "hidden");
            $(cancel).attr("hidden", "hidden");
        });
    });
</script>

<style type="text/css">
    .brand-photo {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        background-position: center center;
        vertical-align: middle;
        line-height: 50px;
        /*box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);*/
    }
</style>