
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

@model BrandViewModel
<!--<script src="~/assets/js/plugins/dropify/dropify.min.js"></script>-->
<div class="box">
    <div class="box-head">
        <h4 class="title">@Captions.CreateBrand</h4>
    </div>
    <div id="box-body-container" class="box-body">
        <div id="brand-form-container">

        </div>
    </div>
</div>

<br />

<div class="box">
    <div class="box-head">
        <h4 class="title">@Captions.BrandForm</h4>
    </div>
    <div class="box-body">
        <div class="k-rtl">
            <kendo-grid name="grid" height="550">
                <datasource type="DataSourceTagHelperType.Ajax" page-size="10">
                    <transport>
                        <read url="@Url.Action(Constants.ActionReadAll, Constants.ControllerBrand, new { area=Constants.AreaManagement })" />
                        <update url="@Url.Action(Constants.ActionUpdate, Constants.ControllerBrand, new { area=Constants.AreaManagement })" />
                    </transport>
                    <schema>
                        <model id="@nameof(BrandViewModel.Id)">
                            <fields>
                                <field name="@nameof(BrandViewModel.Id)" type="number"></field>
                                <field name="@nameof(BrandViewModel.Title)"></field>
                            </fields>
                        </model>
                    </schema>
                </datasource>
                <filterable enabled="true" />
                <pageable button-count="5" refresh="true" page-sizes="new int[] { 5, 10, 20, 50 }">
                </pageable>
                <sortable enabled="true" />
                <columns>
                    <column field="@nameof(BrandViewModel.Title)" title="@Fields.TitleInput" />
                    @*<column field="@nameof(BrandViewModel.Image)" title="@Fields.ImageInput" template="#=template(data)#" />*@

                    <column>
                        <commands>
                            <column-command name="edit" text="@Fields.EditButtin" click="openEditWindow"></column-command>
                            <column-command name="delete" text="@Fields.DeleteButton" click="openDeleteWindow"></column-command>
                        </commands>
                    </column>
                </columns>
            </kendo-grid>
        </div>
    </div>
</div>

<script type="text/javascript">
	function submitForm(divName) {

        var submitdata = new FormData($("#"+divName)[0]);
        var formAction = $("#"+divName).attr("action");

        if ($("#" + divName).valid() || action != null) {

            $.ajax({
                url: formAction,
                data: submitdata,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (result) {
                    if (result) {
                        refreshGrid();
                        getCreateForm();
                        switch (result.Type) {
                            case 'Success':
                                addalert(result.Message, 'success');
                                break;
                            case 'Error':
                                addalert(result.Message, 'danger');
                                console.info(result.Exception.Message);
                                console.info(result.Exception.StackTraceString);
                                break;
                        }
                    }
                }
            });
        }
    }
	@*function template(data) {
		let path = String.raw`../@Constants.PathBrandImageRead/` + data.Image;
		return String.raw`<div class="brand-photo" style="background-image: url(${String.raw`${path}`});"></div>
<input class='imgName' type='hidden' value='${data.Image}'/>`
	}*@
    function addalert(msg, type) {
        let $box = $('#brand-form-container');
        $box.append(`<div class="alert alert-${type} alert-dismissible fade show" role="alert">
${msg}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" hidden>
        <span aria-hidden="true">&times;</span>
    </button>
</div>`);
        setTimeout(function () {
            $('.alert').alert('close');
        }, 5000);
    }
	function getCreateForm() {
        $.get({
            url: "@Url.Action(Constants.ActionCreate, Constants.ControllerBrand)",
            success: function(data) {
                $('#brand-form-container').html(data);
            },
            async: false
        });
	}
	function getUpdateForm(id) {
        $.get({
            url: `@Url.Action(Constants.ActionUpdate, Constants.ControllerBrand)/${id}`,
            success: function (data) {
                $('#brand-form-container').html(data);
            },
            async: false
        });
	}
	function refreshGrid() {
		$("#grid").data("kendoGrid").dataSource.read();
    }
	function getDataItem(grid, e)
	{
		let button = e.target;
		let row = $(button).closest("tr");
		return grid.dataItem(row);
	}
	function openEditWindow(e) {
		let dataItem = getDataItem(this, e);
		getUpdateForm(dataItem.Id);
	}
	function openDeleteWindow(e) {
		e.preventDefault();
        let dataItem = getDataItem(this, e);

        swal({
            text: "@Html.Raw(Messages.DeleteCautionMessage)",
            title: `@Captions.Brand: ${dataItem.Title}`,
            icon: "warning",
            dangerMode: true,
            buttons: {
                confirm: {
                    text: "@Html.Raw(Fields.DeleteButton)",
                    value: "confirm",
                },
                cancel: "@Html.Raw(Fields.CancelButton)"
            },
        })
        .then((value) => {
            if (value === "confirm") {
                $.post({
                    url: "@Url.Action(Constants.ActionDelete, Constants.ControllerBrand)",
                    data: { Id: dataItem.Id },
                    success: function (result) {
                        if (result) {
                            refreshGrid();
                            getCreateForm();
                            switch (result.Type) {
                            case 'Success':
                                addalert(result.Message, 'success');
                                break;
                            case 'Error':
                                addalert(result.Message, 'danger');
                                console.info(result.Exception.Message);
                                console.info(result.Exception.StackTraceString);
                                break;
                            }
                        }
                    }
                })
            }
        });
    }
    $(document).ready(function () {
        getCreateForm();
		$.validator.unobtrusive.parse("#brandform");
    });

    @*$(function () {
        $(BrandForm).on("click", '#createBrand', event, function (e) {
			e.preventDefault();
			postBrand("@Url.Action(Constants.ActionCreate, Constants.ControllerBrand)");
		});

		$(BrandForm).on('click', '#saveBrand', event, function (e) {
			e.preventDefault();
			postBrand("@Url.Action(Constants.ActionUpdate, Constants.ControllerBrand)");
		});

		$(BrandForm).on('click', '#cancel', event, function (e) {
			e.preventDefault();
			getCreateForm();
		});
	});*@
</script>

<style type="text/css">
    .brand-photo {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        background-position: center center;
        vertical-align: middle;
        line-height: 50px;
        /*box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);*/
    }
</style>