@{
    Layout = "~/Areas/Dashboard/Views/Brand/_ButtonLayout.cshtml";
}
@model BrandViewModel

<button id="updatebtn" type="button" onclick="submitForm('brandform', this); return false;" class="btn btn-outline-success" asp-controller="@Constants.ControllerBrand" asp-action="@Constants.ActionUpdate" asp-area="@Constants.AreaManagement">@Fields.SaveButton</button>
<input type="button" value="@Fields.CancelButton" onclick="getCreateForm()" class="btn btn-outline-danger" />