@model BrandViewModel

<input type="hidden" asp-for="Id" value="@Model.Id" />

<div class="col-12 mb-20">
    <label asp-for="Title">@Fields.TitleInput</label>
    <input asp-for="Title" type="text" class="form-control" placeholder="@Fields.TitleInput" value="@Model.Title">
</div>

<!--File Upload-->
@*<div class="col-12 mb-20">
        <label for="formLayoutFile2">@Fields.UploadFile</label>
        <input type="file" id="imageform" class="dropify" asp-for="ImageFormFile">
    </div>*@
<!--File Upload-End-->

<div id="submitButton" class="col-12 mb-20">
    <button id="saveBrand" class="btn btn-success">@Fields.SaveButton</button>
    <button id="cancel" class="btn btn-danger">@Fields.CancelButton</button>
</div>